APP_NAME=Hype
APP_ENV=production
APP_KEY=
APP_DEBUG=false
# for central tenant
APP_URL=

CLOCKWORK_ENABLE=false

#STORAGE_URL=https://cdn.example.com

#PROFILE_URL=https://profile.gd
#GDPS_URL=https://gdps.io

GD_USERNAME=
# plaintext not gjp
GD_PASSWORD=
# not player id
GD_ACCOUNT_ID=

#IPAPI_KEY=

STAFF_WEBHOOK_URL=
YOUTUBE_TOKEN=
PATREON_TOKEN=
PATREON_CLIENT_ID=
PATREON_CLIENT_SECRET=
PATREON_REDIRECT_URI=https://example.com/auth/callback

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=hype
DB_USERNAME=hype
DB_PASSWORD=
DB_FOREIGN_KEYS=false

SCOUT_DRIVER=meilisearch
MEILISEARCH_HOST=
MEILISEARCH_KEY=

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

CONTABO_ACCESS_KEY_ID=
CONTABO_SECRET_ACCESS_KEY=
CONTABO_ENDPOINT=
CONTABO_BUCKET=
CONTABO_TENANT_ID=

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="noreply@example.com"
MAIL_FROM_NAME="${APP_NAME}"

PUSHER_APP_ID=hype
PUSHER_APP_KEY=appname
PUSHER_APP_SECRET=
PUSHER_HOST=gateway.example.com
PUSHER_PORT_REAL=443
PUSHER_PATH=/gateway
PUSHER_PORT="${PUSHER_PORT_REAL}${PUSHER_PATH}/"
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=


VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_PATH="${PUSHER_PATH}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
VITE_GTAG_ID="${GTAG_ID}"
VITE_ADSENSE_CLIENT="${ADSENSE_CLIENT}"
VITE_WS_GATEWAY_ENABLED="${WS_GATEWAY_ENABLED}"
