{
    frankenphp {
        worker {
            file "./public/frankenphp-worker.php"
        }
    }

    admin off
    auto_https off
}

http://:8069 {
    route {
        root * "./public"

        encode zstd br gzip

        php_server {
            index frankenphp-worker.php
            try_files {path} frankenphp-worker.php

            resolve_root_symlink
        }
    }
}

