@import "freakflags.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans antialiased bg-ui-950 text-ui-200;
}

.x {
    @apply flex flex-row;
}

.y {
    @apply flex flex-col;
}

.box {
    @apply rounded-lg px-4 py-2 shadow bg-ui-900 border border-ui-700 overflow-hidden;
}

.box-og {
    @apply rounded-lg px-4 py-2 shadow bg-ui-800 border border-ui-700;
}

.pane {
    @apply glass px-4 py-2
}

.glass {
    @apply rounded-lg shadow bg-ui-900
}

.glass-og {
    @apply rounded-lg shadow bg-ui-900 bg-opacity-60
}

.button {
    @apply inline-flex items-center select-none font-semibold rounded-md px-4 py-2 shadow bg-ui-700 text-xs uppercase tracking-widest hover:bg-ui-600 active:bg-ui-900 focus:outline-none focus:border-ui-900 focus:ring focus:ring-ui-300 disabled:opacity-25 transition border border-transparent hover:bg-ui-900 hover:shadow-sm cursor-pointer
}

.textbox {
    @apply resize-none border-none focus:ring-0 focus:outline-none resize-y w-full placeholder-ui-600 bg-ui-800 rounded;
}

.grid-lines {
    background-size: 30px 30px;
    background-position: -15px -15px;
    background-color: #0F141C;
    background-image:
        linear-gradient(to right, #1A212D 1px, transparent 1px),
        linear-gradient(to bottom, #1A212D 1px, transparent 1px);
}

#nprogress div.bar {
    background: linear-gradient(#67e8f9, #34d399) !important;
}

@layer base {
    :root {
        --color-ui-1000: 249 250 252;
        --color-ui-950:  235 239 245;
        --color-ui-900:  220 226 236;
        --color-ui-800:  194 205 223;
        --color-ui-700:  162 174 195;
        --color-ui-600:  115 127 147;
        --color-ui-500:  78  87  107;
        --color-ui-400:  49  56  74 ;
        --color-ui-300:  37  44  59 ;
        --color-ui-200:  26  33  45 ;
        --color-ui-100:  20  25  36 ;
        --color-ui-50:   15  20  28 ;
    }

    :root .dark {
        --color-ui-50:   249 250 252;
        --color-ui-100:  235 239 245;
        --color-ui-200:  220 226 236;
        --color-ui-300:  194 205 223;
        --color-ui-400:  162 174 195;
        --color-ui-500:  115 127 147;
        --color-ui-600:  78  87  107;
        --color-ui-700:  49  56  74 ;
        --color-ui-800:  37  44  59 ;
        --color-ui-900:  26  33  45 ;
        --color-ui-950:  20  25  36 ;
        --color-ui-1000: 15  20  28 ;
    }

    .theme-soundodger {
        --color-ui-50:   252 249 251;
        --color-ui-100:  244 240 243;
        --color-ui-200:  234 227 231;
        --color-ui-300:  219 210 216;
        --color-ui-400:  195 182 190;
        --color-ui-500:  162 145 154;
        --color-ui-600:  116 99  109;
        --color-ui-700:  84  66  76 ;
        --color-ui-800:  63  48  56 ;
        --color-ui-900:  47  35  42 ;
        --color-ui-950:  35  25  30 ;
        --color-ui-1000: 26  17  22 ;
    }

    .theme-soundodger .dark {
        --color-ui-1000: 252 249 251;
        --color-ui-950:  244 240 243;
        --color-ui-900:  234 227 231;
        --color-ui-800:  219 210 216;
        --color-ui-700:  195 182 190;
        --color-ui-600:  162 145 154;
        --color-ui-500:  116 99  109;
        --color-ui-400:  84  66  76 ;
        --color-ui-300:  63  48  56 ;
        --color-ui-200:  47  35  42 ;
        --color-ui-100:  35  25  30 ;
        --color-ui-50:   26  17  22 ;
    }

    .theme-wiki .dark {
        --color-ui-1000: 9   9   11 ;
        --color-ui-950:  24  24  27 ;
        --color-ui-900:  39  39  42 ;
        --color-ui-800:  63  63  70 ;
        --color-ui-700:  82  82  91 ;
        --color-ui-600:  113 113 122;
        --color-ui-500:  161 161 170;
        --color-ui-400:  212 212 216;
        --color-ui-300:  228 228 231;
        --color-ui-200:  244 244 245;
        --color-ui-100:  250 250 250;
        --color-ui-50:   255 255 255;
    }

    .theme-wiki {
        --color-ui-50:   9   9   11 ;
        --color-ui-100:  24  24  27 ;
        --color-ui-200:  39  39  42 ;
        --color-ui-300:  63  63  70 ;
        --color-ui-400:  82  82  91 ;
        --color-ui-500:  113 113 122;
        --color-ui-600:  161 161 170;
        --color-ui-700:  212 212 216;
        --color-ui-800:  228 228 231;
        --color-ui-900:  244 244 245;
        --color-ui-950:  250 250 250;
        --color-ui-1000: 255 255 255;
    }
}

div[data-youtube-video] > iframe {
    @apply rounded-lg aspect-video max-h-[20rem] w-full
}

.rounded > .ProseMirror {
    padding: 0.5rem 0.75rem !important;
}

.ProseMirror-focused {
    outline: none;
}

.ProseMirror {

    h1 {
        @apply font-serif text-2xl pb-1 border-b border-ui-600 my-1;
    }

    h2 {
        @apply font-bold text-xl;
    }

    h3 {
        @apply font-bold text-lg;
    }

    table {
        @apply my-2;
    }

    p.is-editor-empty:first-child::before {
        opacity: 0.5;
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }

    li > p {
        display: inline;
    }

    li > ol, li > ul {
        margin-left: 1rem;
    }

    a:not(.anchor) {
        @apply text-blue-500 cursor-pointer;
    }

    .anchor {
        @apply text-ui-600 hover:text-blue-500 cursor-pointer;
    }

    a:hover {
        text-decoration: underline;
    }

    ol { list-style-type: decimal;}
    ol ol { list-style-type: lower-alpha;}
    ol ol ol {list-style-type: lower-roman;}

    ul { list-style-type: disc ;}
    ul ul { list-style-type: circle ;}
    ul ul ul {list-style-type: square ;}

    table {
        @apply bg-ui-900;
    }

    table, td, th {
        @apply border border-ui-700 min-w-8;
    }

    tr, td, th {
        @apply align-top relative;
    }

    th {
        @apply font-bold text-left bg-ui-900;
    }

    tbody {
        @apply bg-ui-1000;
    }

    table {
        .selectedCell {
            @apply z-0;
        }

        .selectedCell::before {
            @apply bg-ui-900 content-[''] absolute top-0 bottom-0 left-0 right-0 pointer-events-none -z-10;
        }

        .selectedCell::after {
            @apply border border-blue-500 content-[''] absolute -inset-[1px] pointer-events-none z-10;
        }

        .column-resize-handle {
            @apply bg-blue-500 pointer-events-none w-1 absolute top-0 -bottom-[1px] -right-0.5 z-10;
        }
    }

    .tableWrapper {
        @apply overflow-x-auto m-1
    }

    &.resize-cursor {
        @apply cursor-col-resize;
    }

    .footnote-ref::before {
        content: '[';
    }

    .footnote-ref::after {
        content: ']';
    }

    .tiptap-invisible-character::before {
        opacity: 0.35;
    }
}

.v-codemirror {
    @apply border-ui-700 border-t;

    .cm-focused {
        @apply shadow-none;
    }

    .cm-editor {
        @apply bg-ui-1000 max-h-[75vh] w-full;

        .cm-gutters {
            @apply bg-ui-900;
        }
        .cm-activeLineGutter {
            @apply bg-ui-800
        }
    }

}
