@import "freakflags.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.x {
    @apply flex flex-row;
}

.y {
    @apply flex flex-col;
}

.box {
    @apply rounded-lg px-4 py-2 shadow bg-ui-900 border border-ui-700 overflow-hidden;
}

.box-og {
    @apply rounded-lg px-4 py-2 shadow bg-ui-800 border border-ui-700;
}

.pane {
    @apply glass px-4 py-2
}

.glass {
    @apply rounded-lg shadow bg-ui-900
}

.glass-og {
    @apply rounded-lg shadow bg-ui-900 bg-opacity-60
}

.button {
    @apply inline-flex items-center select-none font-semibold rounded-md px-4 py-2 shadow bg-ui-700 text-xs uppercase tracking-widest hover:bg-ui-600 active:bg-ui-900 focus:outline-none focus:border-ui-900 focus:ring focus:ring-ui-300 disabled:opacity-25 transition border border-transparent hover:bg-ui-900 hover:shadow-sm cursor-pointer
}

.textbox {
    @apply resize-none border-none focus:ring-0 focus:outline-none resize-y w-full placeholder-ui-600 bg-ui-800 rounded;
}

.grid-lines {
    background-size: 30px 30px;
    background-position: -15px -15px;
    background-color: #0F141C;
    background-image:
        linear-gradient(to right, #1A212D 1px, transparent 1px),
        linear-gradient(to bottom, #1A212D 1px, transparent 1px);
}
